@media screen and (max-width: 992px) {
    .vl{
        display: none;
    }
    .info-mission {
        font-size: 17px;
        color: #FFFFFF;
        font-family: sans-serif;
        font-family: avenir-lt-35;
}
}

@media screen and (max-width:460px){
    .img-logo{
        width: 221px;
        margin: 0 auto;
      }
    h3{
        color: #fff;
        font-family: cizel, serif;
        font-size: 35px;
        padding-bottom: 15px;
        
      }

      p.paragrafos{
        color: #252525;
        font-size: 20px;
        margin: 0px 10px 0 10px;
        text-align: justify;
        text-indent: 2px;
        line-height: normal;
        font-family: avenir-lt-35;
      
      }
}

@media screen and (max-width: 720px){
    .mail{
        display: none;
    }
    .span-info{
        display: none;

    }
    .direitos li{
        font-size: 1.2rem;
        
    }

    .social-media{
        display: none;
    }

    .collectable-info{
        background-color: #FFFFFF;
        opacity: 0.8;
        height: 230px; 
        width: 400px;
        overflow: scroll;
      }
    
}

@media screen and (max-width: 400px){
    .collectable-info{
        background-color: #FFFFFF;
        opacity: 0.8;
        height: 230px; 
        width: 300px;
      }
    
