
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */


  @media screen and (min-height: 500px){
    .mobile{
        display: none;
    }

  }
  
  @media screen and (max-height: 500px) {
      nav{
          display: none;
      }
      

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #823133;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        font-family: cizel;
        color: #fff;
        display: block;
        transition: 0.3s;
      }
      
      .sidebar a:hover {
        color: #fff;
        opacity: 0.5;
      }
      
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #823133;
        color: #fff;
        padding: 10px 15px;
        border: none;
        z-index: 0;

        
      }
      
      .openbtn:hover {
        background-color: #823133;
        opacity: 0.8;
      }
      
      #main {
        transition: margin-left .5s;
        padding: 16px;
      }

  }